/*button text - all levels*/
.menuButtonSecond td, .menuButton td, .menuButtondown td, .menuButtonover td {
	cursor:default;
}
/*menu text - all levels*/
.defaultMenuText{
	font: 11px "Microsoft Sans Serif",Arial;
	padding-left:10px;
	padding-right:5px;
}
/*menu caption if any*/
.menuName{
	color : gray;
	letter-spacing : 7px;
	font : 11px Arial,sans-serif;
	padding-left : 10px;
	padding-right : 10px;
}
/*========= BUTTONS ======================*/

/*plain button state - top level*/
.menuButton {
	border : solid 1px ButtonFace;
}
/*down button state - top level*/
.menuButtondown {
	background-color : ButtonFace;/*#DBD8D1*/
	border-bottom : solid 1px #FFFFFF;
	border-left : solid 1px #808080;
	border-right : solid 1px #FFFFFF;
	border-top : solid 1px #808080;
	cursor : default;
}
/*mouse over button state - top level*/
.menuButtonover {
	background-color : ButtonFace;
	border-bottom : solid 1px #808080;
	border-left : solid 1px #FFFFFF;
	border-right : solid 1px #808080;
	border-top : solid 1px #FFFFFF;
	cursor : default;
}
/*plain button state - other levels*/
.menuButtonSecond {
	background-color:ButtonFace;/*#xD4D0C8*/
	border:1px solid ButtonFace;
	font:12px Arial,sans-serif;
}
/*mouse over button and down button states - other levels*/
.menuButtonSecondover, .menuButtonSeconddown {
	background-color : navy;
	color:white;
	cursor : default;
	border:1px solid navy;
	font:12px Arial,sans-serif;
}
/*icon place style on button over/down - other levels
.menuButtonSeconddownimg {
	background-color : #C9D9F5;
}*/

/*text of mouse over button - other levels*/
.menuButtonSeconddown td {
	 color:white;
	 cursor:default;
	 border:0px solid;
}


/*============ PANELS and DEVIDERS ===========================================*/

/*manu panel - top level*/
.menuTable{
	background-color : ButtonFace;
	border-bottom : solid #808080 1px;
	border-left : solid #FFFFFF 1px;
	border-right : solid #808080 1px;
	border-top : solid #FFFFFF 1px;
	margin : 0px;
	-moz-user-select : none;
	padding : 0px;
	
}
/*menu panel - other levels*/
.secondMenuTable{
	background-color : ButtonFace;
	border: 2px outset #ffffff; 
	margin : 0px;
	-moz-user-select : none;
	padding : 0 1 0 2;
}

/*devider - horizontal*/
.menudivider {
	background-color : ButtonFace;
	border-left : solid #808080 1px;
	border-right : solid #FFFFFF 1px;
	height : 100%;
	margin-bottom : 2px;
	margin-top : 1px;
	overflow : hidden;
	vertical-align : middle;
	width : 2px;
}
/*devider - vertical*/
.menudividery {
	background-color : ButtonFace;
	border-bottom : solid #FFFFFF 1px;
	border-top : solid #808080 1px;
	height : 2px;
	overflow : hidden;
	width : 100%;
}

/*================== DRAG HANDLERS ==================*/

/*drag handler for menu - horizontal*/
.menuhandle {
	background-color : ButtonFace;
	border-bottom : solid #808080 1px;
	border-left : solid #FFFFFF 1px;
	border-right : solid #808080 1px;
	border-top : solid #FFFFFF 1px;
	cursor : move;
	height : 100%;
	overflow : hidden;
	width : 3px;
}
/*drag handler for menu - vertical*/
.vmenuhandle {
	background-color : ButtonFace;
	border-bottom : solid #808080 1px;
	border-left : solid #FFFFFF 1px;
	border-right : solid #808080 1px;
	border-top : solid #FFFFFF 1px;
	cursor : move;
	height : 3px;
}


/*============ ICONS and SCROLLERS ====================*/

/*disabled icon - all levels*/
.iconGray {
	filter : BlendTrans(Percent=50) gray(); 
	cursor: default; 
	border:solid 1px ButtonFace;
}

/*enabled scroller*/
.menuscrollerenabled{
	background-color:#CAC8D4;
	 cursor: pointer;	
	 text-align:center;
}
/*disabled scroller*/
.menuscrollerdisabled{
	background-color: #CAC8D4;
	cursor: default;
	visibility:hidden;
	text-align:center;
}